* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
    font-size: 12px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: wheat;
    min-height: 100svh;
}

header {
    height: 25rem;
    width: 100%;
    background-image: url('./../images/banner.webp');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-bottom: 4px solid black;
}
header > h1 {
    font-size: 8rem;
    color: yellow;
    text-shadow: -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000, 4px 4px 0 #000;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav > button {
    width:10rem;
    height: 4rem;
    font-size: 1.8rem;
    border: 3px solid black;
}

#content {
    width: 70%;
    min-height: 40rem;
    background-color: yellow;
}